@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-shufa: var(--font-ma-shan-zheng), cursive;
  --font-qingke: var(--font-zcool-qingke-huangyou), cursive;
  --font-xiaowei: var(--font-zcool-xiaowei), serif;
  --font-libian: "STLiti", "LiSu", serif;
  --font-xingshu: "STXingkai", "KaiTi", serif;
  --font-yuanti: "FZShuTi", "STKaiti", serif;

  --animate-scrollIndicator: scrollIndicatorAnimation 3s infinite cubic-bezier(0.83, 0, 0.17, 1);

  @keyframes scrollIndicatorAnimation {
    0% {
      transform: scaleY(0);
    }
    5% {
      transform: scaleY(0);
    }
    45% {
      transform: scaleY(1);
    }
    55% {
      transform: translateY(0) scaleY(1);
    }
    95% {
      transform: translateY(100%) scaleY(1);
    }
    100% {
      transform: translateY(100%) scaleY(1);
    }
  }
}

@utility writing-vertical-rl {
  writing-mode: vertical-rl;
}

@utility writing-vertical-lr {
  writing-mode: vertical-lr;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: black;
  color: white;
}
